/*.sourceTitle
{
    background-color: #ee6e73;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    color: white;
}*/
.mainClass{
  background-image: url("../BG/bg.png");
}
